:host {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.wrapper {
	flex-grow: 1;
    display: flex;
    flex-direction: column;
}
slot[name="header"]::slotted(*) {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid var(--lumo-contrast-10pct);
    overflow-x: auto;
}

:host([theme~="frameless"]) slot[name="header"]::slotted(*) {
	padding: 0;
	margin: 0;
}
:host([theme~="framefull"]) slot[name="header"]::slotted(*) {
	padding-bottom: var(--lumo-space-s);
	margin: var(--lumo-space-m) var(--lumo-space-m) 0 var(--lumo-space-m);
}

slot[name="content"]::slotted(*) {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
}

:host([theme~="frameless"]) slot[name="content"]::slotted(*) {
	margin: 0;
}
:host([theme~="framefull"]) slot[name="content"]::slotted(*) {
	margin: var(--lumo-space-s) var(--lumo-space-m);
}

slot[name="overlay-footer"]::slotted(*) {
    display: flex;
    justify-content: space-between;
}

slot[name="footer"]::slotted(*) {
    display: flex;
    justify-content: space-between;
}

:host([theme~="frameless"]) slot[name="overlay-content"]::slotted(*) {
	flex-grow: 1;
}
:host([theme~="frameless"]) slot[name="footer"]::slotted(*) {
	margin: 0;
	position: absolute;
	right: var(--lumo-space-s);
	bottom: var(--lumo-space-s);
}
:host([theme~="framefull"]) slot[name="footer"]::slotted(*) {
	margin: var(--lumo-space-s) var(--lumo-space-m);
}
:host([theme~="framefull"]) .overlay {
	display: none;
}
:host([theme~="singlelayer"]) .overlay {
    max-width: 2000px;
    background-color: var(--prototype-overlay-background);
}
:host([theme~="multilayer"]) .overlay {
    max-width: 400px;
    background-color: var(--prototype-transparent-overlay-background);
}
:host([theme~="frameless"][op="r"]) .overlay {
	right: 0;
}
:host([theme~="notoverlapping"][op="r"]) slot[name="content"]::slotted(*) {
	margin-right: 400px;
}
:host([theme~="notoverlapping"][op="l"]) slot[name="content"]::slotted(*)  {
	margin-left: 400px;
}
:host([theme~="frameless"]) .overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: max-width 0.5s;
}